nav {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

img {
    width: 80px;
    height: 80px;
    margin: calc(10%/6);
    justify-content: center;
    align-items: center;
    margin: 30 auto;
}