.heading {
    left: 240px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 680px;
    height: 300px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.subheading {
    left: 240px;
    top: 390px;
    position: absolute;
    overflow: hidden;
    width: 545px;
    height: 187px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: rgba(255, 255, 255, 1);
}

.hero-btn {
    position: absolute;
    width: 296px;
    height: 87px;
    left: 240px;
    top: 570px;
    overflow: visible;
    font-family: Montserrat;
    font-weight: medium;
    font-size: 25px;
    color: #fff;
    background: #FFAA00;
    border: solid 5px #FFAA00;
}

.hero-btn:hover {
    border-width: 10px;
    border-color: #555555;
}

img {
    margin-left: 60%;
    margin-top: 50px;
    background: none;
    transition-timing-function: ease-in;
}

.nav-item {
    margin-top: 50px;
    background: none;
}

.cloud {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 18rem;
    background-size: 250rem 18rem;
    background: url(cloud.png) repeat-x;
    animation: cloud 10s linear infinite;
}

@keyframes cloud {
    0% {
        background-position-x: 0rem;
    }
    100% {
        background-position-x: -250rem;
    }
}

.cloud-1 {
    opacity: .5;
    height: 20rem;
    background-size: 250rem 20rem;
    animation-direction: reverse;
    animation-duration: 15s;
}

body {
    background: linear-gradient(135.9deg, rgba(211, 40, 252, 1) 0%, rgba(38, 1, 111, 0.855) 84.34%, rgba(36, 0, 109, 0.851) 100%);
    transition: all .3s ease-out;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #fff;
}

ul li {
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.a {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    color: #fff;
}